*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.JH {
    display: flex;
    margin-right: 10px;
}

.JH a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.JH a:hover {
    background: #3f3f3f;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 58vh !important;
    background: url(ttt.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid  #106719;
    color: #fff;
    text-decoration: none;
    background:  #077005;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 97px;
    background: #1f1d1d
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 8rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}


.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #077005;
    font-size: 2rem;
    margin: 1rem 0;
}


.box-container .box h3 {
    font-size: 20px;
    color: #106719;

}


.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #171717;
}

.price {
    background: url(ttt.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}


@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .JH {
        display: none;
    }
   
    
}
.BMW {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 70px;
    border: 2px solid   #101010;
    color: #106719;
    text-decoration: none;
    background:   #101010;
}
.BMW:hover {
    background: none;
    
}

.BMW-home {
    display: flex;
}

.BMW-home a {
    margin: 0 10px;
}

.bts {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 80px;
    border: 2px solid   #101010;
    color: #106719;
    text-decoration: none;
    background:   #101010;
}
.bts:hover {
    background: none;
    
}

.bts-home {
    display: flex;
}

.bts-home a {
    margin: 0 10px;
}
.sal {
    padding: 322px;
    background: #1f1d1d
}